body {
    background-color: blue;
}

.wrapper {
    width: 800px;
    margin: 30px auto;
    color: white;
    text-align: center;
}

h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2.6em;
    text-transform: uppercase;
}

#seconds,
#tens {
    font-size: 2em;
}

button {
    color: white;
    background-color: orangered;
    border: solid 1px white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
}

button:hover {
    color: orangered;
    background-color: white;
}